<!-- 
Creates and formats the Layout
Author Colby Roberts 
-->
<!DOCTYPE html>
<html>
    <head>
        <title>Party Hub</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">    

        <link rel="stylesheet" href="../layout/layout.css"  type="text/css"/>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

        <script type = "text/JavaScript" src = " https://MomentJS.com/downloads/moment.js"></script>

        <script type="text/javascript" src="../layout/layout.js"></script>
        <script type="text/javascript" src="../lib/core.js"></script>
        <script type="text/javascript" src="../lib/core-ui.js"></script>
        <script type="text/javascript" src="../lib/api.js"></script>

        <script type="text/javascript" src="../layout/layout-api.js"></script>

        <script type="text/javascript" src="../context-menu/context-menu.js"></script>
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&amp;display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&amp;display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&amp;display=swap" rel="stylesheet">
    </head>
    
    <body>
        <div id="topRibbon"></div>
        <div id="wrap">

            <div id="topBarContainer">
                <div style="width: 100px;">
                    <a id="logoContainer" href="/">
                        <div>
                            <span id="logo-p">P</span><span id="logo-h">H</span>
                        </div>
                    </a>
                </div>
                <div>
                    <div id="headerLinks">
                        <% if (user) { %>
                            <a id="partyHeaderLink" class="headerLink" href="/party">PARTY</a>      
                            <% if (user.isAdmin || user.isHost) { %>                                                               
                                <a id="hostHeaderLink" class="headerLink" href="/host">HOST</a>    
                            <% } %>                                 
                                                                                
                            <% if (user.isAdmin && false) { %>   
                                <!-- <a id="adminHeaderLink" class="headerLink"  href="/admin">ADMIN</a>   -->
                                <a id="adminHeaderLink" class="headerLink">ADMIN</a>  
                            <% } %>         
                        <% } %>  
                    </div>       
                </div>
                <div style="width: 100px;">
                    <div id="topMenu">
                        <% if (user) { %>
                            <% if (user.id) { %>

                                <% user.initials = user.firstName.charAt(0).toUpperCase() + user.lastName.charAt(0).toUpperCase(); %>

                                <% if (user && !user.signUpInProgress) { %>
                                    <div id="userHeader" onmouseover="showMenu(this, 'userMenu');"><%= user.initials %></div>
                                <% } %>

                                <div id="userMenu">
                                    <div id="userMenu-info">
                                        <div id="userMenu-name"><%= user.firstName %> <%= user.lastName %></div>
                                        <% if (user.username) { %>
                                            <div id="userMenu-username"><%= user.username %></div>
                                        <% } %>
                                    </div>

                                    <div class="headerMenuItem" onmousedown="window.location.href = '/settings/profile';">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"  width="20" height="20">
                                            <path d="M12,8a4,4,0,1,0,4,4A4,4,0,0,0,12,8Zm0,6a2,2,0,1,1,2-2A2,2,0,0,1,12,14Z"></path>
                                            <path d="M21.294,13.9l-.444-.256a9.1,9.1,0,0,0,0-3.29l.444-.256a3,3,0,1,0-3-5.2l-.445.257A8.977,8.977,0,0,0,15,3.513V3A3,3,0,0,0,9,3v.513A8.977,8.977,0,0,0,6.152,5.159L5.705,4.9a3,3,0,0,0-3,5.2l.444.256a9.1,9.1,0,0,0,0,3.29l-.444.256a3,3,0,1,0,3,5.2l.445-.257A8.977,8.977,0,0,0,9,20.487V21a3,3,0,0,0,6,0v-.513a8.977,8.977,0,0,0,2.848-1.646l.447.258a3,3,0,0,0,3-5.2Zm-2.548-3.776a7.048,7.048,0,0,1,0,3.75,1,1,0,0,0,.464,1.133l1.084.626a1,1,0,0,1-1,1.733l-1.086-.628a1,1,0,0,0-1.215.165,6.984,6.984,0,0,1-3.243,1.875,1,1,0,0,0-.751.969V21a1,1,0,0,1-2,0V19.748a1,1,0,0,0-.751-.969A6.984,6.984,0,0,1,7.006,16.9a1,1,0,0,0-1.215-.165l-1.084.627a1,1,0,1,1-1-1.732l1.084-.626a1,1,0,0,0,.464-1.133,7.048,7.048,0,0,1,0-3.75A1,1,0,0,0,4.79,8.992L3.706,8.366a1,1,0,0,1,1-1.733l1.086.628A1,1,0,0,0,7.006,7.1a6.984,6.984,0,0,1,3.243-1.875A1,1,0,0,0,11,4.252V3a1,1,0,0,1,2,0V4.252a1,1,0,0,0,.751.969A6.984,6.984,0,0,1,16.994,7.1a1,1,0,0,0,1.215.165l1.084-.627a1,1,0,1,1,1,1.732l-1.084.626A1,1,0,0,0,18.746,10.125Z"></path>
                                        </svg>
                                        <a href="/settings/profile" style="margin-left: 10px;">Settings</a>
                                    </div>

                                    <% if (user && (user.isAdmin || user.isSupervisorMode)) { %>
                                        <div class="headerMenuItem" onmousedown="showSwitchUserDialog();">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                                                <path d="M23.421,16.583,20.13,13.292a1,1,0,1,0-1.413,1.414L21.007,17A9.332,9.332,0,0,1,14.321,14.2a.982.982,0,0,0-1.408.08L12.9,14.3a1,1,0,0,0,.075,1.382A11.177,11.177,0,0,0,21.01,19l-2.293,2.293A1,1,0,1,0,20.13,22.7l3.291-3.291A2,2,0,0,0,23.421,16.583Z"/>
                                                <path d="M21.007,7l-2.29,2.29a.892.892,0,0,0-.054.082.992.992,0,0,0,1.467,1.332L21.836,9l1.586-1.585a2,2,0,0,0,.457-2.1,1.969,1.969,0,0,0-.458-.728L20.13,1.3a1,1,0,1,0-1.413,1.413L21.01,5.005c-4.933.012-7.637,2.674-10.089,5.474C8.669,7.937,6,5.4,1.487,5.046L1.006,5a1,1,0,0,0-1,1,1.02,1.02,0,0,0,1,1c.072,0,.287.033.287.033C5.189,7.328,7.425,9.522,9.6,12c-2.162,2.466-4.383,4.7-8.247,4.96l-.4.021a.994.994,0,1,0,.124,1.985c.156-.007.41-.013.535-.023,5.02-.387,7.743-3.6,10.171-6.409C14.235,9.7,16.551,7.018,21.007,7Z"/>
                                            </svg>
                                            <span style="margin-left: 10px;">Switch User</span></div>
                                    <% } %>

                                    <div class="headerMenuItem" onmousedown="window.location.href = '/logout';">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                                            <path d="M11.476,15a1,1,0,0,0-1,1v3a3,3,0,0,1-3,3H5a3,3,0,0,1-3-3V5A3,3,0,0,1,5,2H7.476a3,3,0,0,1,3,3V8a1,1,0,0,0,2,0V5a5.006,5.006,0,0,0-5-5H5A5.006,5.006,0,0,0,0,5V19a5.006,5.006,0,0,0,5,5H7.476a5.006,5.006,0,0,0,5-5V16A1,1,0,0,0,11.476,15Z"/>
                                            <path d="M22.867,9.879,18.281,5.293a1,1,0,1,0-1.414,1.414l4.262,4.263L6,11a1,1,0,0,0,0,2H6l15.188-.031-4.323,4.324a1,1,0,1,0,1.414,1.414l4.586-4.586A3,3,0,0,0,22.867,9.879Z"/></svg>
                                        <a href='/logout' style="margin-left: 10px;">Logout</a></div>                                        
                                </div>
                            <% } else { %>
                                <a href="/login">Login</a>
                            <% } %>
                        <% } else { %>
                            
                            <div id="topNavRight">
                                <a id="loginLink" class="topNavLink" href="/login">LOGIN</a>                
                                <span id="signUpButton" onmousedown="window.location.href = '/signup';">JOIN NOW</span>
                            </div>
                        
                        <% } %>                            
                    </div> 
                </div>
            </div>


            <div id="content">
                <%- body %>            
            </div> 
        </div>
        <div id="screen-cover"></div>
    </body>
</html>        
