<!DOCTYPE html>
<html>
<head>
    <title>Party Hub</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <script>
        $.noConflict();
        // Code that uses other library's $ can follow here.
    </script>

</head>
    

<body>
    <div id="wrap">

        <div id="topBarContainer">

            <table style="width: 1000px;">
                <tr>
                    <td style="width: 100px;">
                        <a href="/"><!-- logo --></a>
                    </td>
                    <td>
                        <div id="headerLinks">
                            <a id="partyHeaderLink" class="headerLink" href="/party">PARTY</a>     
                            <a id="mapHeaderLink" class="headerLink" href="/map">MAP</a>

                            <% if (user) { %>
                                <% if (user.isAdmin || user.isHost) { %>                                                               
                                    <a id="classesHeaderLink" class="headerLink" href="/host">HOST</a>    
                                <% } %>                                 
                                                                                    
                                <% if (user.isAdmin) { %>   
                                    <a id="contentMenuButton" class="headerLink" href="/admin" onmousedown="showMenu(this, 'contentMenu');">ADMIN</a>  
                                <% } %>         
                            <% } %>  
                        </div>       
                    </td>
                    <td style="width: 250px;">
                        <div id="topMenu">
                            <% if (user) { %>
                                <% if (user.id) { %>

                                    <% user.initials = user.firstName.charAt(0).toUpperCase() + user.lastName.charAt(0).toUpperCase(); %>

                                    <% if (user && !user.signUpInProgress) { %>
                                        <div id="userHeader" onmouseover="showMenu(this, 'userMenu');"><%= user.initials %></div>
                                    <% } %>

                                    <div id="userMenu">
                                        <div id="userMenu-info">
                                            <div id="userMenu-name"><%= user.firstName %> <%= user.lastName %></div>
                                            <% if (user.username) { %>
                                                <div id="userMenu-username"><%= user.username %></div>
                                            <% } %>
                                        </div>

                                        <div class="headerMenuItem" onmousedown="Core.navigate('/settings/profile');">Settings</div>

                                        <% if (user && (user.isAdmin || user.isSupervisorMode)) { %>
                                            <div class="headerMenuItem" onmousedown="showSwitchUserDialog();">Switch User</div>
                                        <% } %>

                                        <div class="headerMenuItem" onmousedown="showSupportDialog();">Support</div>

                                        <div class="headerMenuItem" onmousedown="Core.navigate('/logout');">Logout</div>                                        
                                    </div>
                                <% } else { %>
                                    <a href="/login">Login</a>
                                <% } %>
                            <% } else { %>
                                <!--
                                <div style="float: right; margin-top: 10px;">
                                    <a class="headerLink" style="border-bottom: none; color: rgb(164, 164, 164);" href="/login">Log In</a>   
                                    <a class="button" style="color: white; padding: 9px 17px 9px 17px; border-radius: 15px;" href="/onboarding">Join the Beta</a> 
                                </div>   
                                -->
                            <% } %>                            
                        </div> 
                    </td>
                </tr>
            </table>
        </div>
        <% } %>


        <div id="content">
            <%- body %>            
        </div> 
    </div>
</body>
</html>        
