<link rel="stylesheet" href="../friends/friends.css">
<script type="text/javascript" src="../friends/friends.js"></script>

<%- include('../sidebar/sidebar.ejs') %>

<input id="userId" type="hidden" value="<%= user.id %>" /> 

<div id="container" style="width: calc(100% - calc(var(--sidebar-width) + 30px) - 30px); margin-left: calc(var(--sidebar-width) + 30px);">
    <!-- remove the paragraph and ejs elements below when finished with them -->
    <!-- dont save the object into html itll just say "[Object object]" save specific values you need -->
    <!-- <p id="userData">USERNAME: <%= user.firstName %></p>    
    <p id="friendsData">LENGTH OF FRIENDS: <%= friends.length %></p>
    <p id="requestsData">LENGTH OF REQUESTS: <%= requests.length %></p> -->
    <!-- below is example on how to iterate and create html elements w/ ejs -->
    <!-- "open angle bracket percent sign" is to indictate js code -->
    <!-- "open angle bracket percent sign equals sign" is to embed js variable values as text -->
    <!--always close the ejs with "percent sign close angle bracket" -->
    <!-- <% for (let friend of friends) { %>
        <p id="friend-<%= friend.id %>"><%= friend.id %></p>
    <% } %> -->
    <div class="row">
        <div class="column">
            <h3>Friends</h3>
            <% for (let friend of friends) { %>
                <p id="friend-<%= friend.userId %>"><%= friend.username %></p>
            <% } %>
        </div>
        <div class="column">
            <h3>Requests</h3>
            <% for (let request of requests) { %>
                <p id="request-<%= request.userId %>">
                    <%= request.username %>
                    <button class="button decline">decline</button>
                    <button class="button accept" onclick="test()">accept</button>
                </p>
            <% } %>
        </div>
    </div>
</div>