<!-- 
Creates and formats the Friends screen
Author Makani Buckley, Colby Roberts 
-->
<link rel="stylesheet" href="../friends/friends.css">
<script type="text/javascript" src="../friends/friends.js"></script>
<script type="text/javascript" src="../friends/friends-api.js"></script>

<%- include('../sidebar/sidebar.ejs') %>

<input id="userId" type="hidden" value="<%= user.id %>" /> 

<div id="container">
    <!-- remove the paragraph and ejs elements below when finished with them -->
    <!-- dont save the object into html itll just say "[Object object]" save specific values you need -->
    <!-- <p id="userData">USERNAME: <%= user.firstName %></p>    
    <p id="friendsData">LENGTH OF FRIENDS: <%= friends.length %></p>
    <p id="requestsData">LENGTH OF REQUESTS: <%= requests.length %></p> -->
    <!-- below is example on how to iterate and create html elements w/ ejs -->
    <!-- "open angle bracket percent sign" is to indictate js code -->
    <!-- "open angle bracket percent sign equals sign" is to embed js variable values as text -->
    <!--always close the ejs with "percent sign close angle bracket" -->
    <!-- <% for (let friend of friends) { %>
        <p id="friend-<%= friend.id %>"><%= friend.id %></p>
    <% } %> -->
    <div class="row">
        <div class="column">
            <h3>Friends</h3>
            <form>
                <input type="text" class="search" id="friendsearch" name="friendsearch" placeholder="Search" autocomplete="off">
            </form>
            <div id="friendsContainer">
                <% for (let friend of friends) { %>
                    <p id="friend-<%= friend.userId %>">
                        <%= friend.username %>
                        <button id="friend-<%= friend.userId %>-profileButton" class="button profile">profile</button>
                    </p>
                <% } %>
            </div>
            <div id="resultsContainer"></div>
        </div>
        <div class="column">
            <h3>Requests</h3>
            <div id="requestsContainer">
                <% for (let request of requests) { %>
                    <div class="request-acceptButton" hidden>request-<%= request.userId %>-acceptButton</div>
                    <div class="request-declineButton" hidden>request-<%= request.userId %>-declineButton</div>
                    <p id="request-<%= request.userId %>">
                        <%= request.username %>
                        <button id="request-<%= request.userId %>-declineButton" class="button decline">decline</button>
                        <button id="request-<%= request.userId %>-acceptButton" class="button accept">accept</button>
                    </p>
                <% } %>
            </div>
        </div>
    </div>
</div>