
<link rel="stylesheet" href="../feed/feed.css">
<script type="text/javascript" src="../feed/feed.js"></script>
<script type="text/javascript" src="../feed/feed-api.js"></script>
<%- include('../sidebar/sidebar.ejs') %>
<% const numToWord = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten', 'eleven', 'twelve']; %>
<% const AMPM = ['AM', 'PM']; %>

<input id="userId" type="hidden" value="<%= user.id %>"/>

<div id="container" style="width: calc(100% - calc(2 * calc(var(--sidebar-width) + 30px))); margin-left: calc(var(--sidebar-width) + 30px);">
    <div class="feed-container">
        <!-- Main Feed Section -->
        <div class="feed">
            <h2>Featured Parties</h2>
            <div class="sidebar-filters">
                <div class="sidebar-filters-shadow"></div>
                <div class="sidebar-filters-container">
                    <h3>Filters</h3>
                    <!-- Sidebar Filters -->
                    <select id="filter-startDay" class="filter">
                        <!-- <option value="Monday">Monday</option>
                        <option value="Tuesday">Tuedsay</option>
                        <option value="Wednesday">Wednesday</option> -->
                        <option value="Thursday">Start Day</option>
                        <option value="Thursday">Thursday</option>
                        <option value="Friday">Friday</option>
                        <option value="Saturday">Saturday</option>
                        <option value="Sunday">Sunday</option>
                    </select>
                    <select id="filter-startTime" class="filter">
                        <option value="8:00 PM">Start Time</option>
                        <% for (let hour = 20; hour < 24; hour++) { %>
                            <% let timeHour = (hour % 12 != 0) ? hour % 12 : 12; %>
                            <% let cAMPM = AMPM[Math.floor(hour/12)] %>
                            <option value="<%= numToWord[timeHour] %><%= cAMPM %>"><%= timeHour %>:00 <%= cAMPM %></option>
                            <option value="<%= numToWord[timeHour] %>thirty<%= cAMPM %>"><%= timeHour %>:30 <%= cAMPM %></option>
                        <% } %>
                    </select>
                    <select id="filter-discoverability" class="filter">
                        <option value="0">Discoverability</option>
                        <option value="0">All</option>
                        <option value="1">Following Only</option>
                        <option value="2">Friends Only</option>
                    </select>
                    <!-- <select id="filter-theme">
                        <option value="all">Theme</option>
                        <option value="halloween">Halloween</option>
                        <option value="beach">Beach</option>
                        <option value="formal">Formal</option>
                    </select> -->
                    <select id="filter-vibes" class="filter">
                        <option value="all">Vibes</option>
                    </select>
                </div>
            </div>
            <div class="party-list" id="partyList">
                <div class="loading-GIF-outer">
                    <div class="loading-GIF-inner">
                        <div></div>
                    </div>
                </div>
                <!-- Dynamic party items will load here -->
            </div>
        
        </div>

       
    </div>
</div>