<link rel="stylesheet" href="../edit/edit.css">
<script type="text/javascript" src="../edit/edit.js"></script>
<script type="text/javascript" src="../edit/edit-api.js"></script>

<%- include('../sidebar/sidebar.ejs') %>

<input id="userId" type="hidden" value="<%= user.id %>"/>
<input id="partyId" type="hidden" value="<%= party.id %>"/>

<div id="container">    
    <p style="font-size: 25px;">Edit: <b id="title"><%= party.title %></b></p>
    <div class="enterPrivacyContainer">
        <div class="enterContainerInfo">
            <p>What would you like to change your party's privacy to?</p>
            <select id="privacy">
                <% if (party.privacy == 'Discoverable') { %>
                    <option selected>Discoverable</option>
                    <option>Public</option>
                    <option>Private</option>
                <% } else if (party.privacy == 'Public') { %>
                    <option>Discoverable</option>
                    <option selected>Public</option>
                    <option>Private</option>
                <% } else { %>
                    <option>Discoverable</option>
                    <option selected>Public</option>
                    <option>Private</option>
                <% } %>
            </select>
        </div>
        <p id="privacyInfo">Your party will be discoverable on the party home page and anyone can RSVP!</p>
    </div>
    <div class="enterStartTimeContainer">
        <div class="enterContainerInfo">
            <p>What do you want to change your party's start time to?</p>
            <% const days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']; %>
            <b style="margin-left: 5px;"><%= days[party.startTime.getDay()] %></b>
            <p style="margin-left: 5px;">at</p>
            <select id="startTime">
                <option id="eight">8:00 PM</option>
                <option id="eightthirty">8:30 PM</option>
                <option id="nine" selected>9:00 PM</option>
                <option id="ninethirty">9:30 PM</option>
                <option id="ten">10:00 PM</option>
                <option id="tenthirty">10:30 PM</option>
                <option id="eleven">11:00 PM</option>
            </select>
        </div>
    </div>
    <div class="uploadPictureContainer">
        <div class="enterContainerInfo" id="uploadPictureInfo">
            <p>What new picture do you want to upload to describe your party visually?</p>
            <input type="file" id="pictureImageUpload">
        </div>
        <div class="requirements" id="picturesRequirements">
            <ul>
                <li id="pictureBad" style="color: var(--red-color);">
                    Upload a smaller than 200KB picture to visually describe your party
                    <div id="pictureBadSVG" class="cross">
                        <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24"><path d="M23.707.293h0a1,1,0,0,0-1.414,0L12,10.586,1.707.293a1,1,0,0,0-1.414,0h0a1,1,0,0,0,0,1.414L10.586,12,.293,22.293a1,1,0,0,0,0,1.414h0a1,1,0,0,0,1.414,0L12,13.414,22.293,23.707a1,1,0,0,0,1.414,0h0a1,1,0,0,0,0-1.414L13.414,12,23.707,1.707A1,1,0,0,0,23.707.293Z"/></svg>    
                    </div>
                </li>
                <li id="pictureGood" style="color: var(--green-color); display: none;" >
                    Upload a smaller than 200KB picture to visually describe your party
                    <div id="pictureGoodSVG" class="check">
                        <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24"><path d="M22.319,4.431,8.5,18.249a1,1,0,0,1-1.417,0L1.739,12.9a1,1,0,0,0-1.417,0h0a1,1,0,0,0,0,1.417l5.346,5.345a3.008,3.008,0,0,0,4.25,0L23.736,5.847a1,1,0,0,0,0-1.416h0A1,1,0,0,0,22.319,4.431Z"/></svg>    
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="enterVibesContainer">
        <div class="enterContainerInfo" id="enterVibesInfo">
            <p>What kind of vibes do you want to change about your party?</p>
            <textarea id="vibes" type="text" placeholder="Enter Additional Vibes"><%= party.vibes %></textarea>
        </div>
        <div class="requirements" id="vibesRequirements" style="display: none;">
            <ul>
                <li id="vibesBad" style="color: var(--red-color); display: none;">Please enter the vibes your party will have.</li>
            </ul>
        </div>
    </div>
    <div class="enterDescriptionContainer" >
        <div class="enterContainerInfo" id="enterDescriptionInfo">
            <p>Edit Description...</p>
            <textarea id="description" type="text" placeholder="Enter Description"><%= party.description %></textarea>
        </div>
        <div class="requirements" id="descriptionRequirements" style="display: none;">
            <ul>
                <li id="descriptionBad" style="color: var(--red-color); display: none;">Please enter a description for your group.</li>
            </ul>
        </div>
    </div>
    
    <div id="buttonBar">
        <button id="cancelButton" class="cancelButton">Cancel</button>
        <button id="saveButton" class="saveButton">Save</button>
    </div>
</div>